/* CSS DIRECTORY:
    ==DESKTOP STYLES==
    --Scroll-to-Top-button--
	--HEADER--
	--MAIN--
    --FOOTER--
    ==TABLET STYLES==
    ==MOBILE STYLES==
*/
* {
  box-sizing: border-box;
  margin: 0;
}
/*==================
==DESKTOP STYLES==
=====================*/
html,
body {
  width: 1440px;
  /* max-width: 1440px;
    min-width: 992px;                  */
  max-width: 100vw;
  margin: auto;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  color: hsl(229, 8%, 60%);
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: hsl(229, 8%, 60%);
  cursor: pointer;
}
a:hover {
  color: hsl(0, 94%, 66%);
}
h1,
h2 {
  color: hsl(229, 31%, 21%);
}
button {
  background-color: hsl(231, 69%, 60%);
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 14px;
  line-height: 1.8;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

/*****************************************/
/*--Scroll-to-Top-button--*/
.fa {
  display: inline-block;
  /* font-size: 14px; */
  font: normal normal normal inherit FontAwesome;
}
.fa-arrow-up::before {
  content: "\f062";
}
.scroll-to-top {
  display: block;
  bottom: 20px;
  right: 20px;
  background: hsl(223, 100%, 88%);
  color: #ffffff;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0 16px 32px rgba(0, 0, 0, 1);
  position: fixed;
  z-index: 99;
}
.scroll-to-top:hover {
  background: hsl(223, 87%, 63%);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.container {
  display: -ms-grid;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  max-width: 1400px;
  width: 100%;
}

/*------------------
---------HEADER-----*/
header.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  /* width: 100%;
  max-width: 100vw; */
  max-width: 100%;
}
.header .navbar {
  list-style: none;
  margin: 2.5rem 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
}
.header .navbar li.logo {
  /* flex: 5; */
  flex: 10;
  text-align: left;
  padding-left: 9rem;
}

.header .navbar li {
  flex: 1;
  text-align: right;
  margin: 0 10px;
  padding: 2px 20px;
  /* text-align: center; */
  line-height: 33px;
}
.sign-in {
  background-color: hsl(0, 94%, 66%);
  color: white;
  padding: 10px 20px;
  text-align: center;
  border: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.header img.logo,
.footer img.logo {
  max-width: 100%;
  /* width: 100%; */
  outline: none; /*IE*/
  border: none; /*IE*/
  overflow: visible;
}
.header img.logo:hover,
.footer img.logo:hover {
  transform: scale(1.2);
  transition: 2s;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
/*-----------------------
-------MAIN-------------*/
main.main {
  min-width: 100vw;
  max-width: 100%;

  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;

  display: -ms-grid;
  display: grid;

  grid-template-areas:
    "hero"
    "features"
    "download"
    "faq"
    "sign-up";
}
main.main > section {
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  justify-content: center; */
}
/*************** HERO *****************/
section.hero {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: hero;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 45px;
}
.hero .content {
  /* align-self: center; */
  padding-left: 70px;
}
.hero .content h1 {
  font-size: 3em;
  margin: 4rem 0;
}
.hero .content p {
  font-size: 18px;
  line-height: 1.8;
  width: 90%;
  margin-bottom: 50px;
}
.hero button:first-of-type {
  margin-right: 20px;
}

.hero .img {
  width: 100%;
  position: relative;
  top: 0;
  bottom: 0;
  overflow: hidden;
  padding-bottom: 100px;
}
.hero img {
  max-width: 100%;
  margin: 0 60px;
}
.hero .img::before {
  content: "";
  background-color: hsl(231, 69%, 60%);
  /* width: 75%; */
  width: 60%;
  height: 350px;
  z-index: -1;
  position: absolute;
  top: 120px;
  right: 0;
  border-bottom-left-radius: 180px;
}

/*************** FEATURES ********************/
section.features {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: features;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.features .content {
  width: 50%;
  margin: auto;
}
.features .content h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
}
.features .content p {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
}
/*********Tabbing**************
/*Style the tab*/
.features .tab {
  /* margin-top: 40px; */
  margin: 40px auto;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  border-bottom: 1px solid hsl(229, 8%, 60%);
}
/*Style the button that are used to open the tab content*/
.features .tab button.tablinks {
  border: none;
  background: none;
  color: hsl(229, 8%, 60%);
  margin: 0 20px;
  outline: none;
  cursor: pointer;
  padding: 14px 16px 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
/*Change bgcolor of buttons to hover*/
.tab button:hover {
  /* background-color: #ddd; */
}
/*Create an active/current tablink class*/
.features .tab button.tablinks.active {
  color: hsl(229, 31%, 21%);
  border-bottom: 3px solid hsl(0, 94%, 66%);
}

/* Style the tab content */
.features .tabcontent {
  display: none;
  /* padding: 6px 12px; */
  border-top: none;
  /* width: 90%; */
  margin: 0 auto;
}
.features .tabcontent.active {
  display: flex;
}
.features .tabcontent .img {
  /* width: 100%; */
  position: relative;
  top: 0;
  bottom: 0;
  overflow: hidden;
  padding: 30px 20px 100px 100px;
}
.features .tabcontent img {
  max-width: 100%;
  margin: 0 60px;
}
.features .tabcontent .img::before {
  content: "";
  background-color: hsl(231, 69%, 60%);
  /* width: 75%; */
  width: 60%;
  height: 350px;
  z-index: -1;
  position: absolute;
  border-bottom-right-radius: 180px;
  top: 120px;
  left: 0;
}

.features .slide.tabcontent .content {
  margin: 100px auto;
  padding: 0px 20px 0px 125px;
}

/**************************/
/* section.slide {
  /* display: flex; 
} */

/************************************/
section.download {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: download;
  width: 80%;
  margin: 150px auto 100px;
}
.download .content {
  width: 50%;
  margin: auto;
}
.download .content h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
}
.download .content p {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
}

section.download ul {
  padding-left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  height: 450px;
}
section.download .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
  height: 360px;

  border: 1px solid gray;
  border-radius: 4px;
  width: 25%;
  /* height: 22rem; */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
section.download .card p {
  text-align: center;
}
section.download .card p::after {
  content: url("images/bg-dots.svg");
}
section.download .chrome {
  align-self: flex-start;
}
section.download .firefox {
  align-self: center;
}
section.download .opera {
  align-self: flex-end;
}

/***************************************/
/*****************************************/
section.faq {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: faq;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
  margin: 50px auto 150px;
}
section.faq h2 {
  font-size: 32px;
}
section.faq p {
  margin: 20px 14px;
  font-size: 19px;
}

/******* ACCORDION ****************/
/* Style the DIVS that are used to open and close the accordion panel */
.faq .accordion {
  color: #000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  border-top: 1px solid gray;
  font-size: 20px;
  outline: none;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.faq .accordion:nth-of-type(1) {
  margin-top: 50px;
}
.faq .accordion:nth-of-type(7) {
  border-bottom: 1px solid gray;
  margin-bottom: 75px;
  /* background-color: red; */
}
.faq .accordion::after {
  content: url("images/icon-arrow.svg");
  float: right;
  margin-left: 5px;
}
/* Add a background color to the div if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.faq .active,
.faq .accordion:hover {
  /* background-color: #ccc; */
}
.faq .active::after {
  content: url("images/icon-arrow-red.svg");
  transform: rotate(180deg);
  transition-duration: 1s;
}

/* Style the accordion panel, hidden by default */
.faq .panel {
  padding: 0 18px;
  background-color: #fff;
  /* display: none; */

  overflow: hidden;
  /*********** animated  accordion******/
  max-height: 0;
  transition: max-height 0.2s ease-out;
  -webkit-transition: max-height 0.2s ease-out;
  -moz-transition: max-height 0.2s ease-out;
  -ms-transition: max-height 0.2s ease-out;
  -o-transition: max-height 0.2s ease-out;
}

/********************SIGN- UP *********************/
section.sign-up {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: sign-up;
  display: flex;
  flex-direction: column;
  background-color: hsl(231, 69%, 60%);
  color: white;
  align-items: center;
  justify-content: stretch;
  height: 360px;
  padding-top: 50px;
  justify-content: center;
}
section.sign-up h5 {
  letter-spacing: 5px;
  text-transform: uppercase;
  /* padding: 45px; */
}
section.sign-up h2 {
  color: white;
  font-size: 30px;
  width: 400px;
  text-align: center;
  margin-top: 30px;
}
/*---FORM---*/
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex-direction: column;
  -ms-flex-direction: column; */
  /* margin: 25px 0; */
  padding: 30px 30px;
  border-radius: 10px;
  /* box-shadow: rgb(216, 102, 102) 1px 9px 1px 0.5px; */
}
input {
  width: 310px;
  height: 50px;
  margin: 7px 25px 14px;
  font-size: 14px;
  font-weight: 400;
  font-family: inherit;
  color: hsl(246, 25%, 77%);
  padding: 15px 30px;
  border: 2px solid hsl(246, 25%, 77%);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  outline: none;
}
input:focus {
  border: 2px solid hsl(249, 10%, 26%);
  color: hsl(249, 10%, 26%);
  outline: none;
}
/* input:required { 
    -webkit-box-shadow: none; 
            box-shadow: none; 
} */
input:hover {
  border: 2px solid hsl(223, 100%, 88%);
  font-style: italic;
}
.input-error {
  border: 2px solid hsl(354, 100%, 66%);
  background: url(images/icon-error.svg) no-repeat 95% center;
  color: hsl(354, 100%, 66%);
}
.error-msg {
  display: none;
  color: #ff7a7a;
  font-size: 14px;
  /* text-align: right; */
  margin: 7px 25px 14px;
  padding: 15px 30px;
}

.sign-in.btn-submit {
  width: 125px;
  max-height: 50px;
  margin: 7px 5px 14px;
  /*background-color: hsl(154, 59%, 51%);
  color: white;
  font-size: 16px;
  padding: 16px;
  text-transform: uppercase;
  border: rgb(62, 179, 127) 2px solid;
  border-bottom: 3px rgb(62, 179, 127) solid;
  -webkit-box-shadow: hsl(240, 75%, 98%) 3px 3px 3px 3.5px;
  box-shadow: hsl(240, 75%, 98%) 3px 3px 3px 3.5px;
  -webkit-box-shadow: hsl(0, 0%, 75%) 1px 1px 5px 0.5px;
  box-shadow: hsl(0, 0%, 75%) 1px 1px 5px 0.5px; */
  outline: none;
  cursor: pointer;
}

.btn-submit:hover {
  border: 2px solid hsl(223, 100%, 88%);
  font-style: italic;
}

/*==========FOOTER=========*/
footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  width: 100%;
  max-width: 100%; /*IE*/
  padding: 3vw 1.111vw 0.694vw;
  background: hsl(243, 87%, 12%);
  color: hsl(240, 75%, 98%);
}

footer .navbar {
  padding-left: 0;
  list-style: none;
  margin: 0 10px 20px 150px;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

footer .navbar li.logo {
  /* flex: 5; */
}
footer .navbar li {
  flex: 2;
}
footer.footer .navbar li.socials {
  flex: 4;
  margin-left: 300px;
  display: flex;
}
footer.footer .navbar li.socials a {
  margin: 0 70px;
}

img.logo {
  max-width: 100%;
  /* width: 100%; */
  outline: none; /*IE*/
  border: none; /*IE*/
  overflow: visible;
}
img.logo:hover {
  transform: scale(1.5);
  transition: 2s;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
footer p.attribution {
  text-align: center;
}
